:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Poppins,Montserrat !important;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}


.dialog-button {
  background-color: #d32026;
  color: #FFFFFF;
  font-weight: bold;
  margin: 1rem auto;
  min-width: 150px;
}

.dialog-button:hover {
  background-color: rgb(147, 22, 26);
}

.dialog-button-disabled {
  background-color: #007bff;
  font-weight: bold;
  margin: 1rem auto;
  opacity: 0.65;
  min-width: 150px;
}

.countdown-timer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 64px;
  max-width: 50%;
  margin: 0 auto;
}

.countdown {
  background-color: #000000;
}

.countdown h2 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 500;
  padding: 42px 60px 48px 60px;
}

.countdown p {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 3.3em;
  margin: 0;
  text-align: center;
}

.countdown .countdown-timer .text {
  font-size: 16px;
  font-weight: 400;
}

#pre-order {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0 128px 0;
}

.banner-content {
  padding: 40px 0 40px 0;
  margin: 0 auto;
  max-width: 1320px;
}
.banner-content a {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.banner-content h3 {
  margin-bottom: 0;
}
.banner-content h5 {
  font-size: 16px;
  margin-bottom: 0;
}
.banner-content p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
}
.banner-content .banner-content__desc {
  margin: auto 0;
}

.banner-content .banner-content__image img {
  width: 100%;
  height: auto;
}

.preorder-offers__wrapper {
  padding: 18px 60px 34px 60px;
  background-color: #e9e9e9;
}

.preorder-offers__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.preorder-offers {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: start;
  overflow: auto;
  width: 100%;
}

.preorder-offers .preorder-offers--items {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 20px;
  min-width: 230px;
  height: 270px;
  white-space: normal;
}
.preorder-offers .preorder-offers--items img {
  width: 80px;
  height: auto;
  margin-bottom: 12px;
}
.preorder-offers .preorder-offers--items h4 {
  color: #000000;
  margin: 2px 0;
  font-size: 16px;
  text-align: left;
  margin-bottom: 8px;
  font-weight: 500 !important;
}
.preorder-offers .preorder-offers--items p {
  color: #000000;
  font-size: 12px;
  text-align: left;
  font-weight: 400;
  margin: 0;
}

.compare-models {
  background-color: #e9e9e9;
}
.compare-models .banner-content a {
  font-size: 16px;
  color: #007bff;
  font-weight: 500;
  cursor: pointer;
}

.compare-models .banner-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  max-width: unset;
}
.compare-models .banner-content__desc {
  padding: 0;
}
.compare-models .banner-content img {
  max-width: 500px;
  width: 100%;
}
.compare-models .banner-content__image {
  text-align: center;
}

.partnership {
  padding: 0 60px;
  margin-top: 3rem;
}

.partnership-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 80px 0;
  justify-content: center;
}

.partnership-item {
  background-color: #f5f5f7;
  border-radius: 16px;
  width: 48%;
}

.partnership-item img {
  background-color: #f5f5f7;
  border-radius: 16px;
  width: 100%;
}


.partnership-item h2 {
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

.wrapper-countdown {
  background-color: #1f1e24;
}

.wrapper-countdown__content{
  padding: 64px 192px;
  display: flex;
}

.wrapper-countdown__content--desc {
  width: 50%;
  color: #FFFFFF;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.wrapper-countdown__content--desc p {
  max-width: 60%;
  margin: 0 8px;
}
.wrapper-countdown__content--img {
  width: 50%;
  text-align: right;
}

.choose-iphone {
  margin: 80px 0;
  padding: 0 60px;
}

.choose-iphone__wrapper {
  display: flex;
  gap: 40px;
  width: 100%;
  overflow: auto;
}

.choose-iphone__wrapper .card-wrapper {
  min-height: 300px;
  border: none;
  background-color: #f5f5f7;
  border-radius: 16px;
  min-width: 350px;
  padding: 24px 40px;
  white-space: normal;
}

.choose-iphone__wrapper .card-wrapper__desc button {
  background-color: #1e1d24;
  padding: 8px 12px;
  border: none;
  font-weight: 400;
  cursor: pointer;
}
.choose-iphone__wrapper .card-wrapper__desc button:hover {
  background-color: #565656;
}

.choose-iphone__wrapper .card-wrapper__desc {
  padding-top: 24px;
}

.choose-iphone__wrapper .card-wrapper__image img {
  width: 150px;
}

/* color */
.ccircle.desert-titanium {
  background-color: rgb(191, 164, 143);
}
.ccircle.natural-titanium {
  background-color: rgb(194, 188, 178);
}
.ccircle.white-titanium {
  background-color: rgb(242, 241, 237);
}
.ccircle.black-titanium {
  background-color: rgb(60, 60, 61);
}
.ccircle.ultramarine {
  background-color: rgb(154, 173, 246);
}
.ccircle.teal {
  background-color: rgb(176, 212, 210);
}
.ccircle.pink {
  background-color: rgb(242, 173, 218);
}
.ccircle.white {
  background-color: rgb(250, 250, 250);
}
.ccircle.black {
  background-color: rgb(60, 64, 66);
}
.ccircle {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.48);
}

/* modal offers */

.modal-offers .modal-header h3 {
  margin: 0;
}

.modal-offers .modal-header h4 {
  margin: 0;
  cursor: pointer;
}

.modal-offers .modal-body {
  display: flex;
  gap: 20px;
}

.modal-offers .modal-body ul.nav-tabs {
  max-width: 30%;
  border-bottom: none;
  display: flex;
  height: fit-content;
}

.modal-offers .modal-body ul li {
  margin-bottom: 12px;
  width: 100%;
}

.modal-offers .modal-body ul li button {
  border-radius: 12px;
  width: 100%;
  border: none;
  background-color: unset;
  color: #007bff;
}

.modal-offers .modal-body ul li button:hover {
  color: #0056b3;
}

.modal-offers .modal-body ul li .active {
  background-color: #383838;
  color: #FFFFFF;
  border-color: unset;
}

.modal-offers .modal-body ul li .active:hover {
  background-color: #383838;
  color: #FFFFFF;
}

.modal-offers .modal-body .tab-content {
  width: 70%;
}

.modal-offers .modal-body .tab-content img {
  width: 100%;
  height: auto;
}

.modal-offers .modal-body .tab-content ol {
  padding: 20px;
}

.modal-offers .modal-body .tab-content ol li {
  margin-bottom: 8px;
}

.modal-offers .modal-body .tab-content .learn-more {
  width: 100%;
  text-align: center;
}

.modal-offers .modal-body .tab-content button {
  background-color: #383838;
  padding: 4px 8px;
  border-radius: 8px;
}

.modal-offers .modal-body .tab-content button a {
  color: #FFFFFF;
}

.preorder-offers__title .modal-offers__title {
  background-color: unset;
  border: none;
  color: #007bff;
  padding: 0;
}

/* outlet */
.outlet {
  text-align: center;
  margin-top: 64px;
  padding: 0 60px;
}
.outlet h2 {
  margin-bottom: 40px;
}
.outlet .outlet-title {
  margin-bottom: 40px;
}
.outlet .outlet-title button {
  background-color: #1e1d24;
  padding: 8px 30px;
  border: none;
  font-weight: 400;
  margin: 0 8px;
  border-radius: 6px;
}
.outlet .outlet-title button a {
  color: #FFFFFF;
  font-size: 14px;
}
.outlet .outlet-content .accordion {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.outlet .outlet-content .accordion .accordion-item {
  width: 50%;
}
.outlet .outlet-content .accordion .accordion-header {
  margin-bottom: 0;
  font-size: 14px;
}
.outlet .outlet-content .accordion .accordion-body {
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-top: unset;
  padding: 20px;
  text-align: left;
  font-size: 16px;
}
.outlet .outlet-content .accordion .accordion-body ul li{
  margin-left: 24px;
}
.outlet .outlet-content .accordion .accordion-item button {
  background-color: rgba(33,37,41, 0.03);
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.175);
  padding: 16px 8px;
  border-radius: 6px;
}

/*CUSTOMSCROLLBAR*/
.custom-scrollbar {
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap; /* Ensure content doesn't wrap */
  padding-bottom: 40px;
}

/* Customize scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000; /* Scrollbar color */
  /* border-radius: 10px; */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #C4C4C6; /* Track background color */
}

/* Hide scrollbar arrows */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
.main-logo {
  text-align: center;
  padding: 20px;
}
.main-logo img {
  max-width: 200px;
  height: auto;
}

@media (max-width: 1025px) {
  .partnership-item {
    width: 47%;
  }
  .partnership-item h2 {
    font-size: 24px;
  }
  .wrapper-countdown__content--desc {
    gap: 20px;
  }
  .wrapper-countdown__content--desc h2 {
    font-size: 24px;
  }
  .wrapper-countdown__content--desc p {
    font-size: 12px;
    margin: 0;
    max-width: 70%;
  }
  .wrapper-countdown__content--img img {
    width: 100%;
  }
  .banner-content {
    padding: 64px 40px;
  }
  .compare-models .banner-content img {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .wrapper-countdown__content {
    padding: 40px 16px;
  }
  
  .banner-content {
    padding: 20px 0;
  }
  .banner-content__desc {
    order: 1;
  }
  .banner-content__image {
    order: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .preorder-offers__wrapper {
    padding: 42px;
  }
  .preorder-offers__title h2 {
    font-size: 24px;
  }
  .preorder-offers__title a {
    font-size: 12px;
    text-wrap: nowrap;
  }

  .preorder-offers--items {
    min-width: 300px;
  }

  .partnership-wrapper {
    padding: 0 20px;
    gap: 24px;
    flex-direction: column;
    margin: 40px 0;
  }

  .partnership {
    padding: 0 42px;
    margin-top: 48px;
  }
  .partnership-item {
    width: 70%;
    margin: 0 auto;
  }
  .partnership-item h2 {
    font-size: 16px;
  }

  .choose-iphone {
    padding: 0 40px;
  }

  .choose-iphone__wrapper .card-wrapper {
    min-height: unset;
    min-width: 210px;
    padding: 16px;
  }
  .choose-iphone__wrapper .card-wrapper img {
    width: 80px;
  }
  .choose-iphone__wrapper .card-wrapper .card-title {
    margin-bottom: 12px !important;
    font-size: 16px;
  }
  .choose-iphone__wrapper .card-wrapper .card-wrapper__desc p {
    font-size: 12px;
  }
  .choose-iphone__wrapper .card-wrapper .card-wrapper__desc .color-picker {
    margin-bottom: 12px !important;
  }
  .choose-iphone__wrapper .card-wrapper .card-wrapper__desc .color-picker .ccircle {
    width: 20px;
    height: 20px;
  }
  .choose-iphone__wrapper .card-wrapper .card-wrapper__desc .dialog-button {
    margin: 0;
    font-size: 12px;
  }

  .modal-header h3 {
    font-size: 20px;
  }
  .modal-offers .modal-body {
    display: flex;
    flex-direction: column;
  }
  .modal-offers .modal-body ul.nav-tabs {
    max-width: 100%;
    margin-bottom: 0 !important;
  }
  .modal-offers .modal-body .tab-content {
    width: 100%;
    font-size: 12px;
  }
  .modal-offers .modal-body ul li {
    margin-bottom: 0;
    font-size: 12px;
  }

  .outlet .outlet-title {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .outlet .outlet-content .accordion {
    flex-direction: column;
    gap: 20px;
  }
  .outlet .outlet-content .accordion .accordion-body {
    font-size: 12px;
  }
  .outlet .outlet-content .accordion .accordion-item {
    width: 100%;
  }
  .compare-models .banner-content img {
    max-width: 300px;
    width: 100%;
  }
  .compare-models .banner-content .banner-content__image{
    text-align: center;
    margin: 0 auto;
  }
  .countdown-timer {
    max-width: 80%;
  }
  .countdown-timer p {
    font-size: 2.3em;
  }
  .countdown h2 {
    font-size: 24px;
    padding: 42px;
  }
  .compare-models .banner-content {
    padding: 20px 40px;
    gap: 40px;
  }
}

@media (max-width: 500px) {
  .preorder-offers__wrapper {
    padding: 40px 20px;
  }
  .preorder-offers__title h2 {
    font-size: 20px;
    max-width: 60%;
  }

  .preorder-offers {
    gap: 20px;
  }

  .preorder-offers .preorder-offers--items {
    min-width: 230px;
    padding: 16px;
  }

  .preorder-offers .preorder-offers--items h4 {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .preorder-offers .preorder-offers--items p {
    font-size: 12px;
  }

  .partnership-wrapper {
    padding: 0;
  }
  .partnership {
    padding: 20px;
    margin-top: 32px;
  }
  .partnership-item {
    width: 100%;
  }

  .partnership h2 {
    font-size: 20px;
  }

  .banner-content h2 {
    font-size: 20px;
  }
  .banner-content p {
    font-size: 12px;
  }
  .banner-content a {
    font-size: 16px;
  }
  .banner-content h5 {
    font-size: 12px;
  }

  .countdown h2 {
    font-size: 20px;
    padding: 20px;
  }
  .countdown-timer {
    padding-bottom: 20px;
  }
  .countdown-timer p {
    font-size: 2.3em;
  }

  .choose-iphone {
    padding: 0 20px;
    margin: 40px 0;
  }
  .choose-iphone .heading-title {
    font-size: 20px;
    margin-bottom: 24px !important;
  }

  .choose-iphone .choose-iphone__wrapper {
    gap: 20px;
  }

  .choose-iphone__wrapper .card-parent {
    text-align: center;
  }

  .choose-iphone__wrapper .card-parent .color-picker {
    justify-content: center;
  }
  .choose-iphone__wrapper .card-wrapper .card-parent img {
    height: 120px !important;
  }
  .choose-iphone__wrapper .card-wrapper .card-parent button {
    margin: 0 !important;
  }

  .wrapper-countdown__content {
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .wrapper-countdown__content--desc {
    order: 1;
    width: 100%;
    gap: 20px;
  }
  .wrapper-countdown__content--desc h2 {
    font-size: 20px;
  }
  .wrapper-countdown__content--desc p {
    max-width: 100%;
    margin: 0;
    font-size: 12px;
  }
  .wrapper-countdown__content--img {
    order: 0;
    width: 100%;
  }
  .wrapper-countdown__content--img img {
    width: 100%;
  }
  .outlet {
    padding: 0 20px;
  }
  .outlet .outlet-title button {
    padding: 8px;
    margin: 0;
  }
  .outlet h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .outlet .outlet-title button a {
    font-size: 12px;
  }
  .compare-models .banner-content img {
    max-width: 250px;
  }
  .compare-models .banner-content {
    padding: 20px;
  }
}